/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ignore private http client environment variables
/doc/modulr_requests/http-client.private.env.json
